@model Cards.Models.CardPlay.Card;

@{
    ViewData["Title"] = "ViewCards";
    int numItems = Model.Value.Length;
    //int numItems = 52;
}

<h1>View Cards</h1>

<ul>
    @for (int i = 0; i < numItems; i++)
    {
        <li>

            <img src="@Model[i].Image" />
            <em>@Model.Cards[i].Value of @Model.Cards[i].Suit</em>
        </li>
        
    }
</ul>